body {
    background-color: whitesmoke;
}

.Menu {
    background-color: #9FD0A2;
    color: white;
    flex-direction: row;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    width: 48vw;
}

.Menu:hover {
    background-color: #DA0063;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    justify-content: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    justify-content: center;
    background-color:#9FD0A2;
    padding:1% ;
}

p {
    background-color: #DA0063;
    padding: 4%;
}

.textexplic {
    width: 45vw;
    height: 10vh;
    text-align: justify;
    padding: 50px;
}

img {
    width: 40vw;
    height: 24vh;
}